[2017-09-20 22:34] tomtomau opened #1 "Symfony worker queues using Redis/Resque"

[2017-09-20 22:34] tomtomau opened #2 "Deploying Symfony applications with Capistrano"
@ndench is talking about deploying Symfony apps with Capistrano.

[2017-09-25 03:16] ccaway opened #3 "Caching PHP Web Pages"
Hi, I thought it would be great to have somebody speak on web server and PHP page caching

[2017-09-27 07:05] ndench commented on #3
Hey @ccaway, are you talking about caching arbitrary data or something specific?
ie.
- results from a database or api
- an entire page
- some data related to the user
- or something else entirely

[2017-09-27 07:07] ndench commented on #2
Here's a github repo for the talk: https://github.com/ndench/symfony-capistrano-circleci-example

[2017-09-27 07:07] #2 closed

[2017-09-27 07:11] ndench opened #4 "Setting up a project in any PHP framework (Slim PHP)"
I've only ever had experience with Symfony and could give a talk on that, but would also be good to get talks on other frameworks, ie.

- Laravel
- Yii
- CakePHP
- etc.

[2017-09-27 07:12] ndench commented on #1
@tomtomau can you link your slides and close this issue out?

[2018-02-03 05:12] tomtomau commented on #1
http://slides.com/tomnewbyau/worker-queues-using-redis-and-symfony#/

[2018-02-03 05:12] #1 closed

[2018-02-03 05:13] tomtomau opened #5 "ReactPHP walkthrough + demo"
Would be great to see a walkthrough of ReactPHP and a demo!

[2018-02-21 06:51] ndench commented on #3
This talk will take place at the next meetup: https://www.meetup.com/BrisPHP/events/247341104/

[2018-02-21 06:55] ndench opened #6 "Software Rewrites: The Company Killer"
This talk will take place at the [next meetup](https://www.meetup.com/BrisPHP/events/247341104/) and will focus on the experiences had while doing a full rewrite, why you shouldn't do rewrites, and what you should do instead.

[2018-02-21 23:31] ndench opened #7 "PHP and immutability: difficulties and scalars"
Overview:
Being a weakly typed dynamic language, PHP has not really had the concept of immutability built into it. We’ve seen the venerable define() and CONSTANTS of course, but they’re limited. Whilst PHP does ship with an immutable class as part of it’s standard library, DateTimeImmutable, there is no immediately obvious method to create custom immutable objects.

https://www.simonholywell.com/p

[2018-02-22 00:00] julzelements opened #8 "PHP: where did it come from and why is it so ubiquitous?"
I've never used PHP.
I'm a late career changer.
One of my biggest frustrations is not understanding why I am using a framework. What problem is it solving? More importantly: How did things used to be?

I would like a history lesson of the web and PHPs role in the proceedings. What PHP started out doing. What it does now.

This will make me more effective when I 'encounter it' in the wild.

[2018-02-22 00:02] julzelements commented on #6
Relevant: https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i/

[2018-02-22 03:43] julzelements commented on #8
No, no no! I have never used PHP. I'm hoping someone will GIVE this talk.

[2018-02-22 03:44] tomtomau commented on #8
I'll take this one, will be fun to research!

[2018-02-22 03:47] ndench commented on #8
Ah fair enough @julzelements my bad, misread it.

[2018-02-28 11:43] nk2580 commented on #4
Can do slim if someone wants to know.

It’s real simple and super powerful

[2018-02-28 22:39] ndench commented on #4
Yeah I'd be interested in learning about Slim. Have you got anything in particular in mind you'd like to talk about? Or just a sort of "Slim Into"?

[2018-03-01 07:40] ndench opened #9 "What's new in PHP Land?"
This talk will take place at the start of every meetup. We'll just go over anything new in PHP (ie. new versions, features, PSR, etc) as well as frameworks and any other cool links or ideas we think are interesting.

[2018-03-01 07:43] nk2580 commented on #4
Completely spaced on the date. Might have to do this at the next one

Can do a general overview.
Common uses, different setups, that sort of thing.

[2018-03-01 13:05] ndench commented on #9
News from 1st March 2018: https://ndench.github.io/brisphp/brisphp-news

[2018-03-01 13:07] ndench commented on #7
Here's the slides from Simon's talk, presented on 1st of March 2018: http://slides.com/treffynnon/php-immutability#/

[2018-03-01 13:07] #7 closed

[2018-03-01 13:08] ndench commented on #6
Here's the slides from James' talk on the 1st of March 2018: https://docs.google.com/presentation/d/1-UVfzG5MP6spJ221M1NxALkJvMF4u1uEGf9c5dcTowg/edit#slide=id.p

[2018-03-01 13:08] #6 closed

[2018-03-01 13:12] ndench commented on #4
@nk2580 I didn't mean for you to do the talk tonight haha. We already had 4 talks lined up anyway. It would be great to lock it in for the next meetup though, it'll be happening in the next 2-3 months :smile:

[2018-03-01 21:11] nk2580 commented on #4
Yeah done. I’ll prepare one in advance

[2018-03-01 22:42] ndench commented on #3
I'll be adding the slides to this issue very soon.

[2018-03-01 22:42] #3 closed

[2018-03-01 22:43] ndench commented on #4
That's awesome, I'll be sure to let you know as soon as we've landed on a date for the next meetup!

[2018-03-02 03:57] ndench commented on #3
Josh has provided the slides for his talk on PHP Caching:

* [.pptx format](https://github.com/BrisPHP/meetups/blob/master/materials/php_caching/brisphp_php_caching_march_2018.pptx)
* [.odp format](https://github.com/BrisPHP/meetups/blob/master/materials/php_caching/brisphp_php_caching_march_2018.odp)

[2018-03-13 01:55] dpdme commented on #8
Thanks @tomtomau I'm looking forward to this!

[2018-04-16 06:54] ndench commented on #4
@nk2580 are you good to present about slim at the next meetup? We haven't released the meetup yet, but it'll be on the 31st of May.

[2018-04-16 10:40] nk2580 commented on #4
Good to go.. anything in particular you’d like to see covered?

[2018-04-16 23:51] ndench commented on #4
I think an overview of slim, maybe comparisons to other popular frameworks (ie. symfony, laravel, etc) and reasons to use slim?

[2018-04-25 23:58] ndench commented on #8
This talk will be going ahead at our next meetup on the 31st of May: https://www.meetup.com/BrisPHP/events/250153519/. Thanks @tomtomau!

[2018-04-25 23:59] ndench commented on #4
We've just announced the next meetup for the 31st of May: https://www.meetup.com/BrisPHP/events/250153519/.

I've named your talk "The beauty of Slim PHP" @nk2580, but feel free to pick a different name and I'll update it. I just needed a name to put on the event :joy:

[2018-05-10 02:20] pierswarmers opened #10 "Reaching Nirvana, one commit at a time"
I'm plagued with the human condition. I get distracted, I fear the complexities in life and I worry what people think. Not problem, I've found the solution to my woes in… GIT. Come with me on a journey to find out how GIT can be your guide on the path to enlightenment.

This is supposed to be fun talk about coding in a team/community and how git often sits in the middle of that. Sorry, peeps... it

[2018-05-10 23:30] ndench commented on #10
Thanks for the offer @pierswarmers! Definitely sounds like an interesting talk. At the moment we're just waiting on a couple others to confirm that they'll be talking at the next meetup. If we don't get confirmation soon though, would be happy to give this talk at the end of the month?

[2018-05-11 11:12] pierswarmers commented on #10
Sure. No problem at all.

[2018-05-16 01:51] ndench commented on #10
Hey @pierswarmers, the speaker we were waiting on confirmation for will actually be on leave during the meetup. So if you're keen we can lock you in for the final talk of the night on the 31st?

[2018-05-16 04:54] pierswarmers commented on #10
Sound great... count me in. I have it ready to go.

[2018-05-21 01:08] dkcwd commented on #10
I recommend coming along for this talk, I enjoyed it thoroughly at a meetup in Sydney. 👍

[2018-05-31 09:15] carlo111 opened #11 "Php and laravel link"
Any chance doing a talk on php and laravel (framework) and why it's not popular in Australia. Also looking at api's and use of a javascript language like react, Vue, etc. Tks

[2018-05-31 23:07] ndench commented on #11
Great idea @carlo111 thanks for requesting it! I would like to see a talk on Laravel too.

[2018-05-31 23:12] ndench commented on #9
Presentation from 31st of May: https://slides.com/ndench/brisphp-news-q2-2018
Based on this blog post: https://ndench.github.io/brisphp/brisphp-news-q2-2018

[2018-05-31 23:15] ndench commented on #8
Thanks for the talk last night @tomtomau was very enlightening.

Here is a link to the presentation fro anyone that's looking for it: https://slides.com/tomnewbyau/24-years-php

[2018-05-31 23:15] #8 closed

[2018-05-31 23:18] ndench commented on #4
Thanks for the talk @nk2580, I always enjoy hearing about new frameworks. [Here's a link](https://drive.google.com/file/d/1d9tta-8dBH50KGVTDltUQrxnFIX5ccss/view?usp=sharing) to the presentation so others can find it.

[2018-05-31 23:18] #4 closed

[2018-05-31 23:45] ndench commented on #10
Great talk @pierswarmers I really enjoyed it. [Here's a link](https://docs.google.com/presentation/d/1yP4tCLOlGInqsmProuuSZAFvSrGoGhxw5EblOUQRFco) to the presentation so others can find it.

[2018-05-31 23:45] #10 closed

[2018-06-01 01:18] theHarvester opened #12 "Refactoring high stakes code smoothly"
I can do a talk on our approach to refactoring mission critical code in a production system without breaking anything.

[2018-06-02 00:35] mike-healy opened #13 "Communicating with Microservices"
Hi,
I'd be interested in a talk on the mechanics of communication between microservices within an app (or between the main app flow and its microservices)

[2018-06-28 02:39] dpdme commented on #12
Sounds great @theHarvester

[2018-06-28 02:41] dpdme commented on #13
Hi @mike-healy @tomtomau I'll see if one of our guys would be keen to present on this and get back to you.

[2018-06-28 02:50] mike-healy commented on #13
Thanks @dpdme 👍

[2018-07-04 02:59] samlev commented on #11
Is it not?

[2018-07-15 23:10] benfreke opened #14 "Containers - How to use them in development and production"
I'm sure most people have played with Docker, but most would not have ended up with a good workflow that uses containers both locally and for production.

We've recently deployed our first service to production using containers but I'd be very interested to see how other people are doing this to compare methods and hopefully get to something approaching best practice, both for single person teams

[2018-07-16 01:39] carlo111 commented on #14
Hi Ben

Could only do the epub ( file size issue)

if you want some few more PDF let me know.

Carlo

On Mon, Jul 16, 2018 at 9:10 AM, Ben <notifications@github.com> wrote:

[2018-07-16 02:05] benfreke commented on #14
Hi @carlo111

I don't think you can use github to distribute files :) If you have a link to where they live on the Internet that would be great to see?

[2018-07-24 05:40] dpdme commented on #14
Hi @benfreke This is something we may be able to present on.  I'll have a chat to the DevOps crew and see what I can rustle up.

[2018-08-01 02:34] ndench commented on #12
This talk has been scheduled for our next meetup: https://www.meetup.com/BrisPHP/events/253361238/

[2018-08-01 02:34] ndench commented on #14
This talk has been scheduled for our next meetup on the 30th of August: https://www.meetup.com/BrisPHP/events/253361238/

[2018-08-01 04:39] VladimirAus opened #15 "Drupal 8 for developers"
Drupal 8 is one of the most popular content management system written in PHP.
Drupal 8 release 2 years ago saw some dramatic changes to the CMS including switch to composer and symfony.

This talk is short version of 1 days course "Introduction to Drupal 8 for developers" including
* composer and symfony dependencies
* module and plugin system
* Drupal 8 APIs and documentation
* using 3rd party li

[2018-08-01 04:49] VladimirAus opened #16 "Using gitlab for PHP developers"
Gitlab is a great alternative to GitHub and Bitbucket code management services but what exactly does it bring to the table for php developers.

Agenda:
* What is Gitlab?
* Differences to the other services.
* Gitlab for PHP projects
* Gitlab CI
* Contributing to GitLab

[2018-08-01 04:53] VladimirAus commented on #11
I'm happy to talk about Laravel after LaraCon Australia in October https://laracon.com.au/
Can we narrow down the topic on what people would like to know?

[2018-08-01 06:10] benplunkett opened #17 "Database migrations using Phinx and LHM"
Hi guys, I'd like to offer a talk about database migrations at scale using Phinx and Large Hadron Migrator.

- What are DB migrations?
- Why do you need them?
- Best and worst practices when writing migrations.
- Lessons learnt.

[2018-08-01 22:53] ndench commented on #11
That would be great @VladimirAus, maybe @carlo111 can give more details about what he wants to hear about?

Personally I'd like to hear Laravel compared to other frameworks, what are it's pros and cons in the comparison, etc.

We can also ask people at the next meetup at the end of the month :+1:

[2018-08-01 22:55] ndench commented on #16
@VladimirAus this sounds interesting, I would be particularly interested in the differences between Gitlab and GitHub. Just to be clear, are you offering to do this talk or requesting to hear it?

[2018-08-01 22:56] ndench commented on #17
This sounds like a great talk, database migrations can be hard to get right :+1:

[2018-08-02 00:04] VladimirAus commented on #16
That's talk offer

[2018-08-03 00:15] ndench commented on #15
This talk has been scheduled for our next meetup on the 30th of August: https://www.meetup.com/BrisPHP/events/253361238/

[2018-08-08 22:47] tomtomau opened #18 "8 types of automated testing for your PHP app - you won't believe #3!"
Clickbaity title, woo!

We've been establishing lots of different types of automated testing at different scopes of application that gives us varying degrees of certainty about our app working correctly.

I propose in this talk to discuss the approach more generally (keep finding new ways to tests), as well as run through each of the different ways of testing, with practical examples of how they w

[2018-08-30 12:35] VladimirAus commented on #15
My slides [brisphp-2018-08-drupal.pdf](https://github.com/BrisPHP/meetups/files/2336146/brisphp-2018-08-drupal.pdf)

[2018-08-30 22:26] ndench commented on #12
Great talk @theHarvester! Here's a link to the presentation on Google Drive: https://docs.google.com/presentation/d/1IB8worymjqL9Xg_wmTAKSg12646Ctra8SyskSwe8bI0/edit?usp=sharing

[2018-08-30 22:26] #12 closed

[2018-08-30 22:27] dpdme commented on #12
Awesome. Ill share it with the crew.

On Fri., 31 Aug. 2018, 8:26 am Nathan Dench, <notifications@github.com>
wrote:

[2018-08-30 22:28] ndench commented on #14
Thanks for the talk @dpdme! Would you be able to share a link to your slides?

[2018-08-30 22:28] #14 closed

[2018-08-31 00:42] benfreke commented on #14
Unfortunately I couldn't make it last night, so super keen to see the slides @dpdme please?

[2018-08-31 00:48] benfreke opened #19 "Serverless (Laravel) Microservice on AWS"
We've had some success with this, but only after quite a few challenges. Some technical, some business related.

Would be keen to do a talk on this around:

Why we wanted a microservice
Code challenges
Infrastructure challenges
Monitoring challenges

And how we solved / are solving those problems.

Additionally, in 3 months time we should have some dollar values to talk about whether serverless wa

[2018-08-31 00:58] benfreke commented on #16
I miss Gitlab. Loved the dismissed comments feature.

[2018-08-31 00:58] s3than commented on #14
[Building Containers for development and production.pptx](https://github.com/BrisPHP/meetups/files/2338393/Building.Containers.for.development.and.production.pptx)

Any questions related to the talk give me a yell

[2018-08-31 02:09] ndench commented on #14
Oops, got your GitHub confused @s3than. I'll redirect my thanks at you for being the one that gave the talk :joy:

[2018-09-25 22:15] benfreke commented on #14
Hi @s3than

Just a little confused about how you would seperate the development and production builds? I'm guessing you would have 2 separate Dockerfiles so you can call the appropriate one via a script?

The multilayer example was great, really clear on the benefits of that :)

[2018-09-25 23:17] dpdme commented on #18
Sounds badass @tomtomau

[2018-09-30 02:34] s3than commented on #14
Hi @benfreke

Apologies for the delay

The idea is that you would use a single Dockerfile that builds up and re-uses the previous stages.

So for example, as a very simple workflow

![docker stages simple](https://user-images.githubusercontent.com/6881648/46252501-b54de480-c4ac-11e8-996e-86390a706692.png)

The development image could be called by

[code]
The production image
[code]

The idea is to

[2018-10-01 06:27] benfreke commented on #14
Got it. For some reason I didn't consider that as an option. Makes complete sense now, thanks!

[2018-10-17 21:47] dpdme commented on #19
Hey @benfreke Are you still keen to drop some wisdom n this at the next meetup mate?

[2018-10-17 23:09] benfreke commented on #19
@dpdme I'm not certain how much wisdom there will be, but certainly happy to present. I think there are some really good learnings that will be of interest to the community.

[2018-11-08 10:34] benfreke commented on #19
Hi @dpdme and @ndench

I'm going to have to pull out sorry. I'm not going to be able to pull together the information for this talk in time.

[2018-11-14 07:28] ndench commented on #19
Update - we're going to schedule the next meetup on the 29th of January.

[2018-11-18 14:12] VladimirAus commented on #16
Sure @ndench . Can do.

[2018-11-22 10:58] benfreke commented on #19
Hi @ndench
I'm just checking with my co-presenters and I'll get back to you asap

[2019-01-08 05:36] benfreke commented on #19
@ndench
I'm not going to be able to present, I had a look at my notes over the break and I simply don't have enough information to put together a presentation. And neither did my co-presenter.

Once I have something useful to share with the community I'll create a new issue.

[2019-01-08 05:36] #19 closed

[2019-01-09 01:30] VladimirAus commented on #16
@ndench yep. See you on 29th

[2019-01-09 01:45] nk2580 commented on #13
Can give an example using docker compose and swagger if needed

[2019-01-09 23:47] samueljamesmarshall opened #20 "Code deployment at scale and why we suck"
Our failures and success deploying at scale at Neto eCommerce. Topics to cover:
- Supporting multiple application versions for production and development
- Overcoming slowness from artifacts with large file count and size
- Deploying to large groups of instances and managing traffic
- Importance of quality health checks
- Artifact standards
- Push (SSH) vs Pull (Agent) deployments

[2019-01-10 00:15] ndench commented on #20
Thanks for submitting this Sam, I've scheduled you in the [next meetup](https://www.meetup.com/BrisPHP/events/257912534/) on the 29th of January. Really looking forward this.

[2019-01-30 01:47] ndench commented on #9
[Slides from the 29th of January 2019](https://slides.com/ndench/new-in-php-q1-2019#/) based on [this blog post](https://ndench.github.io/brisphp/whats-new-in-php-q1-2019).

[2019-01-30 01:48] ndench commented on #18
Thanks for the great talk @tomtomau! [Here's a link to Tom's slides](https://slides.com/tomnewbyau/8-types-of-automated-testing-for-your-php-app/#/).

[2019-01-30 01:49] #18 closed

[2019-01-30 01:50] ndench commented on #20
Thanks for the awesome talk @samueljamesmarshall! Would you be able to add a link for your slides to this issue?

[2019-01-30 01:50] #20 closed

[2019-01-30 01:51] ndench commented on #16
Thanks for the talk @VladimirAus! Can you add a link for you slides to this issue?

[2019-01-30 01:51] #16 closed

[2019-01-30 03:57] samueljamesmarshall commented on #20
https://docs.google.com/presentation/d/1hYFWe9kB6Ma3JIpk-3BGJFZtXUgA-8VGawuFnxHzMy4/edit?usp=sharing

On Wed, Jan 30, 2019 at 11:50 AM Nathan Dench <notifications@github.com>
wrote:

[2019-02-03 06:04] VladimirAus commented on #16
"Gitlab for PHP developers" slides are available here: https://www.slideshare.net/VladimirAus/gitlab-for-php-developers-brisbane-php-meetup-2019jan30

PHP Events:
* Drupal 8 migration training (Brisbane [8-Feb], Melbourne [15-Feb]): http://bit.ly/dgtdau
* DrupalCamp Byron Bay [26-27 Apr]: http://www.drupalcampbyronbay.com
* PHP conference (Singapore, 24-25 June) : https://2019.phpconf.asia/
* Joom

[2019-02-26 22:37] wildcard27 opened #21 "Offer to do a talk: Logging"
At Neto we have been making a few changes in how we handle logging. Since I've been Mariana-Trench-deep in this recently, I figured I could share what I have learned. I might even be able to help people from making mistakes that we have made.

If anyone has any particular part of logging that they would like me to cover, comment below.

[2019-02-27 09:43] rodjsta commented on #21
I would love to see a presentation on logging.

[2019-03-22 23:20] ndench commented on #21
@wildcard27 sorry for the late response. I think a logging talk would great! Some ideas for you to cover would be:

- How to effectively log while following the 12factor app
- What should you log?
- How do you get value out of the logs? ie. how to consume them

Our next meetup will likely be in the second half of April but we haven't picked a date yet. Would you be available to give the talk then?

[2019-03-28 06:23] wildcard27 commented on #21
Thanks Nathan,

Great ideas for topics. I am not very familiar with the 12factor app way of handling logs but I will read up.

I should be available to give a talk at the next one, so long as my wife has given birth by then! She is due on 7th April so shouldn't be an issue.

Name: Matt Dillon
Talk length: ~15 mins
Talk Synopsis: Will post once I have worked it out!
~~Twitter handle~~ LinkedIn prof

[2019-03-29 00:37] ndench commented on #21
Awesome, thanks @wildcard27. I've scheduled you in for the [next meetup](https://www.meetup.com/BrisPHP/events/260160444/).

Just to let you know, we aren't able to connect laptops to the screen at CreditSense so we can't do demos. If you could provide your slide deck before the night as either a link or powerpoint file that would be awesome.

Also, the screen is 4 TV's put together, so the border

[2019-04-01 22:41] samlev opened #22 "[Talk Offered] Reformat, Refactor, Replace"
**Presenter name**: Samuel Levy
**Talk name**: Reformat, Refactor, Replace
**Talk length**: 15 min - 20 min
**Talk synopsis**: A practical guide for bringing legacy software up to modern standards

[2019-04-01 22:58] ndench commented on #22
Hi @samlev, thanks for the talk offer! It sounds like a great talk, are you available to do it at the [next meetup](https://www.meetup.com/BrisPHP/) (30th April)?

[2019-04-24 04:20] tomtomau opened #23 "Tips for Mentoring a Junior Dev"
Talk offered by @allyeastman 😀

Talk title: Tips for Mentoring a Junior Dev
Talk length: 15 min
Talk synopsis:

In this talk, she will share tips around how to guide mentors, paired programming and helping juniors grow in their careers.

[2019-04-26 06:03] mounty1 opened #24 "Discipline and Tough Love -- Imposing Standards and Quality"
PHP is an interpreted language so it is possible for bugs to arise in deployment that could not make it through the build process in compiled languages;  type inconsistencies, "string typing" and undefined values.
At Credit Sense we are tackling this problem on several fronts concurrently:
  - Source code layout and typographical standards.
  - Larger-scale problems such as excessive complexity of

[2019-04-26 06:16] allyeastman commented on #23
Hi Tom,

As promised here is the link to my presentation:
https://docs.google.com/presentation/d/10MPyVxGtFt2h0FrsNlXTF1C78r8sUm2keOx2CdcSTIc/edit?usp=sharing

Let me know if you have any troubles viewing it.

Thanks :)

[2019-04-29 23:59] ndench commented on #24
This sounds like a great talk @mounty1. It would be awesome to have you present it at the next meetup (Q3, not tonight :joy:)!

[2019-04-30 00:01] ndench commented on #23
I'm excited for this talk! It's been scheduled in for [the meetup tonight](https://www.meetup.com/BrisPHP/events/260160444/).

[2019-04-30 00:18] ndench commented on #21
@wildcard27 has had to defer his talk until the next meetup, but never fear - we've filled the gap and this talk will still be happening!

[2019-04-30 22:00] ndench commented on #23
Thanks for the great talk @allyeastman I definitely took a lot from it :+1:

[2019-04-30 22:05] ndench commented on #9
Materials from the 30th of May 2019:
- [Slides](https://slides.com/ndench/brisphp-news-q2-2019)
- [Blog post](https://ndench.github.io/brisphp/whats-new-in-php-q2-2019)

[2019-04-30 22:05] #23 closed

[2019-04-30 22:09] ndench commented on #22
Thanks for the talk @samlev, kind of makes me wish I had a legacy codebase to try it out :joy:. Here's a link to [the slides](https://docs.google.com/presentation/d/1gIDc86pglNsjdFJJujX4sF07WmacFbE8HJigaLfyqZ4/edit?usp=sharing).

[2019-04-30 22:09] #22 closed

[2019-05-01 05:08] andytruong opened #25 "Implement event-driven architecture using PHP & MySQL"
At GO1, we have problem with RESTful driven and moving to event-driven  architecture.

The implementation in PHP & MySQL is much simpler than I thought. I would like to share my experience on how we are implementing and enjoy benefits it's giving:

- Problems with RESTful architeture
- Benefits from event-driven architeture
- Implementation & bright future

## Talk info

- Length: 20 min
- Twitter

[2019-05-03 01:39] tomtomau commented on #25
I'm keen as! Sounds like a great talk and others are already interested in it :)

We're not 100% on a date yet, but would you be interested in presenting this at the Q3 meetup?

[2019-05-03 07:30] andytruong commented on #25
That's great. Thank you.

[2019-06-05 02:26] tomtomau commented on #25
Hi @andytruong I'm so keen for this talk!

We've just announced the Q3 meetup - could you please confirm if you're available to talk that night?
https://www.meetup.com/BrisPHP/events/262052750/

Cheers!

[2019-06-05 02:27] tomtomau commented on #24
Hi @mounty1 looking forward to this, I'm a big fan of brutally strict codebases :)

We've just announced the Q3 meetup - could you please confirm if you're available to talk that night?
https://www.meetup.com/BrisPHP/events/262052750/

Cheers!

[2019-06-05 02:28] tomtomau commented on #21
Hi @wildcard27 keen to see you folks do logging at scale!

We've just announced the Q3 meetup - could you please confirm if you're available to talk that night?
https://www.meetup.com/BrisPHP/events/262052750/

Cheers!

[2019-06-05 02:30] andytruong commented on #25
@tomtomau yeah, I confirm.

This is my draft https://slides.com/andytruong/event-driven-architecture

Thanks

[2019-06-05 23:54] LabsCheckout opened #26 "Refactoring to modern standards in a legacy Codebase"
The Squiz CMS is over 15 years old, and has never really had a coding standard (despite squizlabs/php_codesniffer) existing!

As part of a modernisation effort, we're adding and improving tools (dependency injection, reducing CI average time, containers) so I'd like to present on how we improved our coding standards through moving from simpletest to phpunit, CI, Git Hooks and Local IDEs while supp

[2019-06-06 11:13] wildcard27 commented on #21
This won't be a problem. @tomtomau , see you there

[2019-06-11 02:59] tomtomau commented on #26
Really keen to see this talk from Ben! Yay for code quality!

[2019-07-16 03:07] benfreke opened #28 "Refactoring to modern standards in a legacy Codebase"
This is the same as #26, but I'm submitting it as me and not the corporate user.

The Squiz CMS is over 15 years old, and has never really had a coding standard (despite squizlabs/php_codesniffer existing!)

As part of a modernisation effort, we're adding and improving tools (dependency injection, reducing CI average time, containers) so I'd like to present on how we improved our coding standards

[2019-07-16 03:08] LabsCheckout commented on #26
I've recreated this with my personal account, so I get notifications.

[2019-07-16 03:08] #26 closed

[2019-07-26 04:25] ndench commented on #24
Sad to hear that you can't do this preso at the next meetup @mounty1. Hope you can make it to the next one!

[2019-07-26 04:26] ndench opened #29 "Developing a PHP application with Skaffold"
Tim Colbert from CreditSense has offered to do this talk, it will take place at the [next meetup](https://www.meetup.com/BrisPHP/events/262052750) on July 30. More details to come.

[2019-07-26 04:35] s3than commented on #29
The talk will look at a basic development application using Symfony, Skaffold and Kubernetes

I'll be going over the configuration of the various components and will provide a link to example code at the end of the talk.

[2019-07-28 01:56] wildcard27 commented on #21
@tomtomau I am just doing some fine-tuning for my talk. So far it is about half an hour. Would you like me to shorten it down a little?

[2019-07-29 01:25] ndench commented on #21
Hey @wildcard27, we normally try to keep talks around the 15-20 minute mark but feel free to go up to 30 minutes if you need to. Please don't go over that though as we have a few other talks to get through :smile:

[2019-07-29 23:18] andytruong commented on #25
Slide for my talk:

[event-driven.key.zip](https://github.com/BrisPHP/meetups/files/3444545/event-driven.key.zip)

[2019-07-29 23:37] ndench commented on #25
Thanks @andytruong! Is it possible to get these slides a link instead?

[2019-07-29 23:47] andytruong commented on #25
@ndench  https://drive.google.com/file/d/1NGCHEv4FfNZwYU4KCCrtR0dOhfLaS4Kw/view

[2019-07-30 11:28] #25 closed

[2019-07-31 03:32] wildcard27 commented on #21
My slides from last night: https://docs.google.com/presentation/d/1Wyckja7QDrJjWhDpee-yXIBMf9MVqiey2BXoQ3eqqSk/edit?usp=sharing

[2019-07-31 07:04] ndench commented on #9
Materials from 30th August 2019:

- [slides](https://slides.com/ndench/new-in-php-q3-2019)
- [Blog post](https://ndench.github.io/brisphp/whats-new-in-php-q3-2019)

[2019-08-01 23:57] tomtomau commented on #21
Champion, great job the other night!

[YouTube video of the talk](https://www.youtube.com/watch?v=Qm-QCdkX23U)

[2019-08-01 23:57] #21 closed

[2019-08-01 23:59] tomtomau commented on #29
Hey @s3than thanks for talking at the Meetup. Could you please share your code/webpage?

[2019-09-04 01:34] samlev opened #30 "WordPress for Laravel Developers"
**Presenter name**: Samuel Levy
**Talk name**: WordPress for Laravel Developers
**Talk length**: 30 min
**Talk synopsis**: So you want to use Laravel, but _The Man_ insists that you use WordPress? Well never fear! This talk explores how the internals of WordPress themes work, and how you can use your shiny Laravel toolset in WordPress theme development.

[2019-09-11 11:10] ndench opened #31 "The ins and outs of CQRS"
This talk has been offered by Ben Plunkett from Neto after their recent deep dive and implementation of CQRS. Can't wait to hear it at the [next meetup](https://www.meetup.com/BrisPHP/events/264746864/).

We'll fill out the following details in a comment:

Presenter name:
Talk name:
Talk length: [10/15/20 minutes[
Talk synopsis: [a short sentence or two]
Socials: (optional twitter/linkendin/etc fo

[2019-09-11 11:10] ndench opened #32 "Laracon Wrap Up"
This talk has been offered by Robert Wilde who will be dutifully taking notes all thought Laracon! Can't wait to hear it at the [next meetup](https://www.meetup.com/BrisPHP/events/264746864/).

We'll fill out the following details in a comment:

Presenter name:
Talk name:
Talk length: [10/15/20 minutes[
Talk synopsis: [a short sentence or two]
Socials: (optional twitter/linkendin/etc for street cr

[2019-11-06 00:58] robwilde commented on #32
Presenter name: Robert Wilde
Talk name: Laracon AU 2019 review
Talk length: 15 minutes
Talk synopsis: My take on LaraconAU 2019 as First timer, should you attend?
Socials: @mrwilde | mrwilde.com | figjam@mrwilde.com

[2019-11-07 01:21] ndench commented on #32
@robwilde thanks for the great talk last night! Can you post a link to your slides please?

[2019-11-07 01:23] ndench commented on #9
Materials from 6th November 2019:
* [Slides](https://slides.com/ndench/brisphp-news-q4-2019#/)
* [Blog post](https://ndench.github.io/brisphp/whats-new-in-php-q4-2019)

[2019-11-07 01:24] ndench commented on #30
Thanks for the very entertaining talk @samlev. Still can't believe you made WordPress execute Laravel :joy:.

Here's a link to [Sam's slides](https://docs.google.com/presentation/d/1tfICGg2nhqlO14KAECk8VeUxNSAo8QsWO5Ah1eJcnR4/edit#slide=id.p).

[2019-11-07 01:24] #30 closed

[2020-02-12 02:53] robwilde commented on #32
[Laracon AU 2019 Talk.pdf](https://github.com/BrisPHP/meetups/files/4189621/Laracon.AU.2019.Talk.pdf)

[2020-02-12 23:33] theHarvester opened #34 "3 years of scaling Laravel"
I can present a talk on how we've scaled Laravel for the last few years and how we overcame roadblocks.

[2020-02-12 23:34] tomtomau commented on #34
Thanks James, looking forward to it!

[2020-02-13 07:34] ndench commented on #32
Thanks @robwilde!

[2020-02-13 07:34] #32 closed

[2020-02-13 07:36] ndench commented on #34
Thanks @theHarvester, can't wait. Can you fill out the following to give us some deets we can post on LinkedIn/Instagram/Meetup?

Presenter name:
Talk name:
Talk length: [10/15/20 minutes[
Talk synopsis: [a short sentence or two]
Socials: (optional twitter/linkendin/etc for street cred)

[2020-02-18 00:02] benplunkett commented on #31
Here's the slides:
https://docs.google.com/presentation/d/1xNbIaIx7NqHF54quW9d5k56KTdg8ZeXGrgktDpRqNyg/edit?usp=sharing

Presenter name: Ben Plunkett
Talk name: Command-Query Responsibility Segregation
Talk length: 20 minutes
Talk synopsis: Brief overview of the CQRS pattern and when/how it should be used
Socials: https://twitter.com/ben_plunkett

[2020-02-22 00:47] ndench commented on #31
Thanks for that @benplunkett, great talk!

[2020-02-22 00:47] #31 closed

[2020-02-22 00:49] ndench commented on #29
Here are Tim's slides: [Developing with Kubernetes and Skaffold.pptx](https://github.com/BrisPHP/meetups/files/4238600/Developing.with.Kubernetes.and.Skaffold.pptx)

[2020-02-22 00:49] #29 closed

[2020-02-24 05:02] bendechrai opened #36 "A talk on security / OAuth / JWTs / OWASP / ..."
Hi there! Further to a chat with Tom on meetup, here's a placeholder offer to talk at the next (June) meetup :smile:

[2020-02-24 19:54] rodjsta commented on #36
Hi @bendechrai, sounds like it would be a great talk.

[2020-03-02 04:02] mrwilde-ixa opened #37 "Laracon Online 2020 recap"
Presenter name: Robert Wilde
Talk name: Laracon Online 2020 Recap
Talk length: 15 minutes
Talk synopsis: Recap on the presentations from last Thursday morning. Give a quick rundown on the speakers, what they spoke about with a final roundup and weather it is value for money
Socials:
https://twitter.com/mrwilde
https://mrwilde.com

[2020-03-05 23:27] tomtomau opened #38 "The state of accessibility (things are not good) by Larene Le Gassick"
Retroactively creating the GitHub issue to track the talk details.

Thanks for your great talk @larenelg!

Slides are available [here](https://docs.google.com/presentation/d/1tNFlh8ss9HEvYwlhtacmpgPgI1dnfZTwBh_Ah3GV2vI/edit#slide=id.p)

[2020-03-05 23:27] #38 closed

[2020-03-05 23:28] tomtomau commented on #34
Thanks @theHarvester!

Slides are available [here](https://www.canva.com/design/DAD0_fCRRi0/DFV1JB-nx_6eCydufFZfUA/view?utm_content=DAD0_fCRRi0&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink)

[2020-03-05 23:28] #34 closed

[2020-03-06 01:18] robwilde commented on #37
[PHP Meetup March 2020.pdf](https://github.com/BrisPHP/meetups/files/4295967/PHP.Meetup.March.2020.pdf)

[2020-03-06 03:13] theHarvester opened #39 "Request: A deep dive into optimising MySQL or Redis"
I know enough to be dangerous, but I'd love to see a talk where someone gets into the nitty gritty about MySQL or Redis performance tuning.

[2020-03-06 03:19] theHarvester opened #40 "Request: Lessons learned from running NoSQL in production"
I'd love to see a talk on the pros and cons of running non-sql databases in production?

[2020-03-06 03:23] theHarvester opened #41 "Request: A talk about Tom and Nathan's borderling masochistic testing philosophy"
Tom and Nathan have taken automated testing to a whole new level. I'd love to see a talk about that gets into the detail about it all.

[2020-03-06 03:23] theHarvester opened #42 "Intro to Data Vault"
We can do a talk on Data Vault, what it is and why it's cool.

[2020-03-06 03:45] theHarvester opened #43 "API Design"
I love a good API.

I can do a talk on the evolution of HTTP API's over the years.
I've also implemented JSON API in Laravel using the Fractal library, so I can discuss that as well.

[2020-03-06 04:48] tomtomau commented on #41
I could do a talk on mutation testing with Infection?

[2020-03-06 04:53] theHarvester commented on #41
I'd like to see you unpack all of your testing layers and talk about the pros and cons of it all. I'd like to hear why I'd use a certain testing philosophy for different scenarios.

What is the best bang for buck testing I can do? The 80/20 of what catches the most errors for the least effort and so on.

[2020-03-06 05:10] tomtomau commented on #41
I did a similar ish [talk already last year](https://slides.com/tomnewbyau/8-types-of-automated-testing-for-your-php-app) that I think you didn't see. There's probably a few philosophical things missing from that though

[2020-03-07 08:19] ndench commented on #37
Thanks @mrwilde-ixa!

[2020-03-07 08:19] #37 closed

[2020-03-07 08:23] ndench commented on #41
We could talk about the rest of our CI pipeline, how to go about setting
it up and why. Since Tom's already done all the types of testing.

On Fri, 6 Mar 2020, 3:10 pm Tom Newby, <notifications@github.com> wrote:

[2020-05-26 23:39] benplunkett opened #44 "PHP in AWS Lambda, an introduction"
Presenter name: Ben Plunkett
Talk name: PHP in AWS Lambda, an introduction
Talk length: 20 minutes
Talk synopsis: How to get PHP running in Lambda and our experience running it at scale
Socials: https://twitter.com/ben_plunkett

[2020-05-27 00:41] robwilde opened #45 "Get your Git on! Atomic commits and Git rebase -i and why they are so awesome"
Presenter name: Robert Wilde
Talk name: Get your Git on! Atomic commits and Git rebase -i and why they are so awesome
Talk length: 20+ minutes
Talk synopsis: Moving from single developer using git for years to a team with Merge/Pull requests I realised I didn't know Git as well as I should or could. Then I found out about atomic commits and the best thing ever, git rebase -i and how it can make yo

[2020-05-27 23:04] ndench commented on #36
Hi @bendechrai, thanks for the talk offer! We're planning to host the next BrisPHP meetup remotely in either late June or early July. Currently sorting out the logistics of streaming a meetup. Would you still like to do this talk?

[2020-05-27 23:05] ndench commented on #28
Hi @benfreke, we're planning to host the next BrisPHP meetup remotely in either late June or early July. Currently sorting out the logistics of streaming a meetup. Would you be available to do this talk?

[2020-05-27 23:06] ndench commented on #24
Hi @mounty1, we're planning to host the next BrisPHP meetup remotely in either late June or early July. Currently sorting out the logistics of streaming a meetup. Would you be available to do this talk?

[2020-05-28 01:59] bendechrai commented on #36
Hey @ndench - still happy to give a talk :)

[2020-05-28 07:58] mounty1 commented on #24
On Wed, 27 May 2020 16:06:18 -0700
Nathan Dench <notifications@github.com> wrote:

Sorry but I'm not so involved in the PHP world now so wouldn't be able
to give it the same focus as I could a year ago.  Changed employer,
changed responsibilities.

______________
Michael Mounteney

[2020-05-29 04:06] benfreke commented on #28
I'm sure I can knock something together if there aren't any other volunteers

[2020-06-01 05:05] ndench commented on #24
No problem, I'll just close out this issue. Hope everything is going great at `$newJob`!

[2020-06-01 05:05] #24 closed

[2020-06-08 05:05] ndench commented on #44
We've scheduled this talk for our next meetup: [Q2 2020](https://www.meetup.com/BrisPHP/events/271156919/) which will be taking place online 🎉.

@benplunkett I've sent you an email to organise logistics.

[2020-06-08 05:06] ndench commented on #36
We've scheduled this talk for our next meetup: [Q2 2020](https://www.meetup.com/BrisPHP/events/271156919/) which will be taking place online 🎉.

@bendechrai I've sent you a message on the Brisbane Slack workspace to organise logistics.

[2020-06-08 05:06] ndench commented on #28
We've scheduled this talk for our next meetup: [Q2 2020](https://www.meetup.com/BrisPHP/events/271156919/) which will be taking place online 🎉.

[2020-07-17 23:33] benfreke opened #46 "PhpStorm, Docker and Xdebug setup and use"
Xdebug is awesome. While I wouldn't go so far as to say that [you're an amateur if you don't use it](https://twitter.com/derickr/status/1274134192155131905) , my opinion is close to that.

I've created a repeatable and easy to use setup that I've been using for a while now, and if there's enough interest I'm happy to give a talk about how a dockerised workflow simplified Xdebug usage within PhpSto

[2020-07-19 23:10] benfreke commented on #28
[Presentation Slides](https://github.com/BrisPHP/meetups/files/4944817/Refactoring.to.modern.standards.in.a.legacy.codebase.-.Ben.Freke.-.BrisPHP.2020.Q2.pdf)

[2020-07-19 23:20] ndench commented on #28
Thanks for the great talk and for posting your slides @benfreke! I look forward to hearing more about the huge refactor Squiz is going through.

[2020-07-19 23:20] #28 closed

[2020-07-19 23:21] ndench commented on #36
Thanks for the awesome talk @bendechrai. Would you mind posting a link to your slides on this issue?

[2020-07-19 23:21] #36 closed

[2020-07-19 23:23] ndench commented on #44
Thanks for the great talk @benplunkett, I'd love to hear how your lambda CI pipeline works once you get it up and running. Can you please post a link to your slides and any other resources on this issue?

[2020-07-19 23:23] #44 closed

[2020-07-19 23:24] ndench commented on #46
Great talk idea @benfreke. Would be great to dig into the specifics of a dev environment running docker.

[2020-09-07 20:55] tecbanc opened #47 "Looking for a local PHP contract developer"
We're Brisbane based and in need of PHP assistance, both in minor repairs of an existing site, and a couple of larger projects. We'd prefer to work with someone local, so if anyone is around Brisbane or the Gold Coast and is looking for some contract work, please let me know. Many thanks, stay safe. Cheers.

[2020-10-01 22:29] ndench commented on #47
Hi @tecbanc

I'm one of the organisers or the meetup and our goal is to build a really great PHP community. One of the ways we're trying to do that is to keep the meetup free of "recruiter spam". We understand that people are looking for PHP developers, and our members are even looking for new opportunities. So it's fine to look for devs at our meetup, we just ask that you be an active part of our

[2020-10-01 22:29] #47 closed

[2020-10-02 00:56] tecbanc commented on #47
No problem, thanks for the heads up. Cheers.

[2020-10-25 23:15] projectliamphelps opened #48 "Ways of Working at Neto"
Hi everyone,
I would like to offer a talk on Neto's ways of working. For a few years Neto tech departments ways of working have evolved to meet our needs and what we want to achieve. I would like to offer a 30min talk on how Neto tech department works and what we have learnt over the last few years.

[2020-10-25 23:56] ndench commented on #48
This talk has been scheduled for our [next meetup](https://www.meetup.com/BrisPHP/events/274172329/) on Tuesday Nov 17.

[2020-10-26 02:20] benfreke commented on #46
I presented this at the Laravel meetup so probably best not to present this here. Especially as XDebug 3 will be out with PHP8 so most of the information in this talk won't be relevant from then (hopefully!).

[2020-11-05 03:18] VladimirAus opened #49 "CiviCRM: features, installation, expansion"
The talk is more technical and php oriented version of [DrupalSouth 2020 talk](https://drupalsouth.org/events/drupalgov-2020/sessions/drupal-9-and-civicrm) from November 2020.

it will cover:

- what is CiviCRM / features
- quick demo
- evaluation case study
- how to install
- how to develop plugins

Length: 20mins (can extend if required)

[2020-11-12 04:22] tomtomau commented on #49
Hey @VladimirAus we're keen for this talk if you're available to present it [next week](https://www.meetup.com/BrisPHP/events/274172329/)?

If possible, would you be able to trim it to 15 minutes, we're trying to keep talk concise especially given they're simultaneously delivered online and we're trying to retain attention. My recommendation would be to talk more about what it is, demo it, talk ab

[2020-11-12 06:22] VladimirAus commented on #49
Hi @tomtomau. Yep, can do 15 minutes but won't be available next Tuesday. Happy to do it next time.

[2020-11-13 09:59] samlev opened #50 "Accessibility for the backend"
**Time:** 15 minutes, I guess?

**About the talk:**

There's a lot of information about what accessibility looks like on the front-end of a website, but what does accessibility look like behind the user interface?

This is a quick talk about what accessibility means inside the codebase, and why it matters.

[2020-11-13 10:10] tomtomau commented on #50
Lock it in

[2021-01-28 12:23] jessarcher opened #51 "Building the Laravel service container from scratch"
I've been fascinated by Laravel's service container and how useful it is for quite a while now. I enjoy teaching others about it, including most recently in an episode of my podcast with JMac (of Laravel Shift fame). In that episode we talked about how a primitive service container implementation could work, and I've often thought it would be interesting to actually build a basic implementation of

[2021-01-28 22:04] ndench commented on #48
Thanks for the talk last year @projectliamphelps. If you still have a copy of your slides, could you upload them here please?

[2021-01-28 22:04] #48 closed

[2021-01-28 22:05] ndench commented on #50
Thanks for the great talk last year @samlev! If you still have your slides, could you upload a copy here please?

[2021-01-28 22:05] #50 closed

[2021-01-28 22:08] ndench commented on #51
This sounds like a great talk @jessarcher! I think that most of the audience will be different so that should be fine. We'll lock it in for the [next meetup](https://www.meetup.com/BrisPHP/events/276014207/) on February 23.

[2021-02-17 00:56] ndench opened #52 "Terraforming my world"
Over the past 5 years, I've been getting more and more committed to and proficient in Terraform. My opinion on Terraform has moved from "this seems interesting but scary" to "I never want to manually provision anything ever". This change has been driven by a number of events over the years, from onboarding new engineers into our infrastructure, to ignoring infrastructure for months because it's st

[2021-02-17 00:57] ndench commented on #51
I'll be doing this talk at the next meetup on [Februray 23](https://www.meetup.com/BrisPHP/events/276014207/).

[2021-02-22 11:05] tomtomau commented on #9
Tom's doing Q1 2021:
https://slides.com/tomnewbyau/what-s-new-in-php-q1-2021/edit

massive credit to https://php.watch/

[2021-04-15 06:57] maxwasley opened #53 "Hiring PHP Developer"
Hi all,

I am looking for a PHP Developer, based in Brisbane, to work on a pretty interesting Aid program.

Let me know if you have any questions, and am keen to come and say hi at the next meetup.

https://www.seek.com.au/job/51903323

Max

[2021-04-15 07:46] rodjsta commented on #53
That looks like an interesting role.

[2021-04-27 07:17] ndench commented on #53
Hope you found a developer @maxwasley!

[2021-04-27 07:17] #53 closed

[2021-04-27 07:18] ndench commented on #52
[Slides from my talk](https://slides.com/ndench/terraforming-my-world)

[2021-04-27 07:18] #52 closed

[2021-04-27 07:19] ndench commented on #51
Thanks for the talk at the last meetup @jessarcher! If you have any resources (slides, a github repo, etc) could you post a link here please?

[2021-04-27 07:19] #51 closed

[2021-04-28 02:24] jessarcher commented on #51
Sure! The GitHub repo is https://github.com/jessarcher/service-container-from-scratch/ and there were no slides as it was all in Vim, but I think it was recorded if we have a link to that?

[2021-04-30 02:13] ndench commented on #51
Ah yes, right you are. [Here's the YouTube video](https://www.youtube.com/watch?v=cO_39A0Y37I).

[2021-05-07 04:25] ndench commented on #39
@trycatchjames has learn't all about this himself and will be presenting it at the [next meetup](https://www.meetup.com/BrisPHP/events/278038611/) on May 20.

[2021-05-18 04:11] ndench commented on #45
This talk is scheduled for the [next meetup](https://www.meetup.com/BrisPHP/events/278038611/) on May 25.

[2021-05-26 02:59] ndench commented on #45
Here is the [recording](https://www.youtube.com/watch?v=BgviY3GR8uk&t=4500s) of this talk. @robwilde could you please link us to your slides?

[2021-05-26 02:59] #45 closed

[2021-05-26 03:00] ndench commented on #9
Materials from 26th May 2021:
* [Recording](https://www.youtube.com/watch?v=BgviY3GR8uk)
* [Slides](https://slides.com/ndench/what-s-new-in-php-land-q2-2021)

[2021-05-26 03:09] robwilde commented on #45
Here are the slides peoples...
[MR Wilde - Get Good with Git.pdf](https://github.com/BrisPHP/meetups/files/6543607/MR.Wilde.-.Get.Good.with.Git.pdf)

[2021-05-27 23:51] ndench opened #54 "Request: Upgrading to PHP 8"
At Q2 2021 meetup we had a request for a talk on upgrading to PHP 8. A quick poll at the meetup suggested that most people are not yet on PHP 8 for a variety of reasons (3rd party dependency support, breaking changes, etc).

A simple talk on the process for upgrading and rolling out PHP 8 would be well received.

[2021-05-27 23:51] ndench commented on #5
At our Q2 2021 meetup, a talk on ReactPHP was requested.

[2021-05-28 00:16] ndench opened #55 "Request - Serverless PHP"
We've previously had an introduction to PHP in Lambda in #44. However during our Q2 2021 meetup this was requested again. It would be great for another talk on serverless now that the technology has evolved some more.

[2021-05-28 00:18] ndench opened #56 "Talk request: Scaling case study/tales from the trenches"
During our Q2 2021 meetup, a talk on scaling PHP was requested. A scaling war story or case study would be well received.

[2021-05-28 00:20] ndench opened #57 "Talk request: Best practices/patterns/anti-patterns"
During our Q2 2021 meetup, we had a few different requests for talks that go into best practices, patterns and anti-patterns in PHP. A talk going over which patterns/practices you should follow and why would be very well received.

[2021-05-28 00:22] ndench opened #58 "Talk request: PHP Infrastructure"
During our Q2 2021 meetup, a talk on PHP infrastructure was requested. This could be any sort of infrastructure ranging from traditional server models, shared hosting, containers, serverless, databases, etc.

[2021-05-28 00:24] ndench opened #59 "Talk request: Latest PHP trends"
During our Q2 2021 meetup, a talk discussing the latest trends in PHP was requested. This could go over things like popular frameworks and the changes they've made recently, or discussions about PHP internals and which way the community is going, or the general patterns/trends people follow when implementing features.

[2021-06-04 09:06] wildcard27 commented on #54
This would be good. I was going to attempt this in the coming weeks. I'll update here if I do and might do a talk on it

[2021-06-07 22:27] ndench commented on #54
Thanks @wildcard27, that would be great! Good luck with the upgrade, keen to hear how it goes.

[2021-07-22 00:28] ndench opened #60 "Offer: How to use rector to automatically upgrade & refactor PHP"
Rector can be used to automatically upgrade PHP and framework versions.
You can also create custom rectors which can refactor your internal patterns.

[2021-07-22 00:46] ndench commented on #54
Hey @wildcard27, we've scheduled the next meetup for August 31. Have you completed your PHP 8 upgrade yet? I'd love to hear  to talk about it!

[2021-07-25 10:51] wildcard27 commented on #54
Hey Nathan. Unfortunately not. If you are still looking for speakers in the next couple of weeks I'm sure I can find something to run though

[2021-07-27 22:03] ndench commented on #54
No problem mate. It would be great if we could get you to do talk again. We have a bunch of talk requests in the issues that we collected from attendees at the last meetup if you need any inspiration :wink:

[2021-08-01 23:59] michaeldyrynda opened #61 "Offer: Building an application to scale on Laravel Vapor"
Infinite scale on serverless infrastructure is possible, but not without some important considerations.

In this talk, I run through some of the overlooked limitations in scaling a Laravel application to cater to "infinite scale" on AWS with Laravel Vapor, options to work around them, and the approaches we took with [thenping.me](https://thenping.me).

[2021-08-02 23:31] ndench commented on #61
This talk has been scheduled for the [next meetup on August 31](https://www.meetup.com/BrisPHP/events/279626702/), I'm looking forward to it!

[2021-08-05 10:02] alice-aikeji opened #62 "Offer: Modernise php5 legacy codebase with minimal effort"
At work me and my colleague we deal a lot with legacy code base. With limited resource and demanding business requirements, we are happy to share simple things we did that doesn't require too much effort yet helped us modernise the codebase we work on and help us move forward.

* Introduction
* Background
* What we did to modernise the UI
* What we did to boost performance
* Our strategy
* DB Migr

[2021-08-20 04:43] developersteve opened #63 "Securing PHP"
According to Wappalyzer PHP is used in 79% of website backends. As a user and a developer of PHP for many years I've used it extensively for many projects, especially using open source Libraries and platforms. In this talk we are going to look at some ways to write secure PHP code and some things to keep in mind with open source use. Also we are going to look at some best practices to ensure appli

[2021-09-13 01:24] ndench commented on #63
Thanks for the great talk last month @developersteve. Any chance you can add a link to your slides and perhaps any demo materials you have to this issue?

[2021-09-13 01:24] #63 closed

[2021-09-13 01:24] ndench commented on #61
Thanks for the great talk last month @michaeldyrynda! Any chance you can link your slides and various blog posts you've created since then to this issue?

[2021-09-13 01:24] #61 closed

[2021-09-13 01:31] ndench commented on #13
Worth noting that a talk on microservices was requested in the Q3 2021 meetup.

[2021-09-13 01:32] ndench commented on #56
A talk on scaling PHP, specifically in the enterprise space was requested in the Q3 2021 meetup.

[2021-09-13 01:43] ndench opened #64 "[REQUEST] Testing with PestPHP"
During the Q3 2021 meetup, we had a request to hear about testing with PestPHP. The talk could cover:
- Why use PestPHP
- Differences between PestPHP and other libraries (eg. PhpUnit)
- Your specific PestPHP workflow/process

[2021-09-13 01:46] ndench opened #65 "[REQUEST] What's the coolest thing you've ever used PHP for?"
During the Q3 2021 meetup, we discussed the JetBrains Developer Survey results which shows PHP is mostly used for websites but is increasingly used for other purposes as well.
![image](https://user-images.githubusercontent.com/2062388/133012074-1453e521-cc69-4462-8a7a-1f0cfd96405f.png)

This triggered a request to hear about the coolest things people have used PHP for. If you have used PHP for bui

[2021-09-13 01:47] ndench commented on #57
Worth noting, that this was also requested in the Q3 2021 meetup.

[2021-09-13 01:49] ndench commented on #41
During the Q3 2021 meetup, a talk about different testing methods was requested. It's been a while since @tomtomau's testing talk, so might be worth revisiting this.

[2021-09-13 01:51] ndench opened #66 "[REQUEST] Using PHP in containers"
During the Q3 2021 meetup, a talk about containerisation in PHP was requested. This talk could include:
- Development environments
- CI/CD (ie. testing, building, and deploying)
- Staging/production environments
- Benefits & differences of containerisation

[2021-09-13 01:54] ndench opened #67 "[REQUEST] Switching PHP frameworks - why and how?"
During the Q3 2021 meetup, a talk about switching from Yii to Laravel was requested.
This could be extended to switching between any two given frameworks (or no framework at all).
It could include:
- identifying why you should switch
- getting buy in from the business/team
- migrating while still developing other features without downtime
- the nitty gritty details of the switch

[2021-09-13 01:57] ndench opened #68 "[REQUEST] Type safety in PHP"
During the Q3 2021 meetup, a talk about improving type safety in PHP was requested. Specifically "how to make PHP more like TypeScript".
This could include:
- Limitations of the current PHP type system
- How the PHP type system has changed overtime
- Using static analysis to augment the type system
- Why use type safe code
- Comparisons with other type systems (eg. TypeScript, Java, etc)

[2021-09-13 02:03] michaeldyrynda commented on #61
For sure:

* Post with the [presentation and slides](https://dyrynda.com.au/blog/presentation-building-an-application-to-scale)
* Post on [configuring Grafana Cloud to visualise CloudWatch metrics](https://dyrynda.com.au/blog/monitoring-laravel-vapor-with-grafana-cloud)

[2021-09-22 00:21] dnabeast opened #69 "WebP images using Blade"
Presenter name: Dan Beeston
Talk name: WebP in the Pool
Talk length: 15 minutes
Socials: @dnabeast
Talk synopsis: We're all versed in using Jpeg images but there are smaller and better options available. Using them is easy but making sure users on old browsers can see them, and providing alt version for retina displays, adds complexity. Dan will discuss the current solutions to the problem as well

[2021-09-26 23:46] ndench commented on #69
Thanks for the offer @dnabeast! I'll reach out when we have scheduled the next meetup to see if you're available :smile:

[2021-11-28 23:36] ndench commented on #69
Hey @dnabeast, just confirming the meetup is tomorrow night at the Neto offices in Fortitude Valley. Will you be presenting in person or online?

[2021-11-29 00:04] dnabeast commented on #69
I'll be there in person. I'll log into my google account there and run the
slideshow from one of your computers if that's okay.

On Mon, Nov 29, 2021 at 9:36 AM Nathan Dench ***@***.***>
wrote:

[2021-11-29 01:18] ndench commented on #69
Yep, that's cool. If you post a link to your slides here you won't even need to login.

[2021-11-29 04:59] dnabeast commented on #69
I think this is right.

https://docs.google.com/presentation/d/e/2PACX-1vR6--_VxiN40qsj7PjGVDFeSzBFPsWQVglfGEoJf6PPSH1mQBHWY_eIwi_cqOG7VYdqFe0r0RsI9Hny/pub?start=false&loop=false&slide=id.p

On Mon, Nov 29, 2021 at 11:18 AM Nathan Dench ***@***.***>
wrote:

[2021-11-30 22:30] ndench commented on #69
Thanks for the great talk last night @dnabeast. Here's a link to [the recording](https://www.youtube.com/watch?v=2aSGg2FfP2k)

[2021-11-30 22:30] #69 closed

[2021-11-30 22:30] ndench commented on #9
Materials from 30th November 2021:
- [Recording](https://www.youtube.com/watch?v=2aSGg2FfP2k)
- [Slides](https://slides.com/ndench/what-s-new-in-php-land-q3-2021)

[2021-11-30 22:33] ndench opened #70 "[LIGHTNING] 3 interesting techniques I've used to solve business problems"
Presenter name: James Harvey
Talk length: Lightning
Socials: `@trycatchjames`

At BrisPHP Q4 2021, James Harvey gave a quick lightning talk running over how he thinks about data in order to solve business problems at FoundU.

The slides can be found [here](https://slides.com/jamesharvey/3-interesting-data-techniques-i-ve-used-to-solve-business-problems) and a recording on [YouTube](https://www.you

[2021-11-30 22:33] #70 closed

[2021-11-30 22:35] ndench opened #71 "[LIGHTNING] Your tests suck, try this one weird trick!"
Presenter name: Tom Newby
Talk name: Your tests suck, try this one weird Trick
Talk length: Lightning
Socials: `@tomnewbyau`

At BrisPHP Q4 2021, Tom gave a quick rundown on mutation testing in PHP using infection.github.io. Here are [the slides](https://slides.com/tomnewbyau/mutation-testing-with-infection) and [the recording](https://www.youtube.com/watch?v=2aSGg2FfP2k).

[2021-11-30 22:35] #71 closed

[2021-11-30 22:37] ndench opened #72 "[LIGHTNING] PHP at the limits"
Presenter name: Sam Levy
Talk name: PHP at the limits - stress testing the PHP intepreter
Talk length: Lightning
Socials: `@ImSamLevy`

At BrisPHP Q4 2021, Sam shared how he tested the limits of the PHP interpreter just for fun. Here are [his slides](https://docs.google.com/presentation/d/1Fw7uDLrd8bZKna-9ICx6VTRmp_6IzcjesOwzwvIg8zg/edit#slide=id.p) and the [recording](https://www.youtube.com/watc

[2021-11-30 22:37] #72 closed

[2021-12-03 11:13] dkaitou opened #73 "[OFFER] Sharing some testing experiences when refactoring legacy code"
Presenter name: Ming
Talk name: Sharing some testing experiences when refactoring legacy code
Talk length: 15 mins
Socials: https://www.linkedin.com/in/mingwei-zhang-tech/
Talk synopsis:
When we are trying to replace legacy features with new architecture and new code, we went through a lot of problems.
One of the hardest was making sure it matches with existing business requirements.
To be able to

[2021-12-04 08:10] ndench commented on #73
Thanks for the offer @dkaitou! Our next meeting will be early next year, probably towards the end of February or start of March. I'll let you know when we've set a date . I'd really love to see this talk.

[2022-02-01 06:39] ndench commented on #73
Hey @dkaitou, we're looking at having the next meetup on Wednesday the 2nd of March at CreditSense. Would you be available to do this talk then?

[2022-02-01 10:18] dkaitou commented on #73
@ndench sounds good.

[2022-02-14 09:51] valorin opened #74 "[OFFER] Keep Thinking Like a Hacker"
Presenter name: Stephen Rees-Carter
Talk name: Keep Thinking Like a Hacker
Talk length: 30minutes (but I can compress it down if this is too long)
Socials: https://twitter.com/valorin
Talk synopsis:
What happens if a hacker breaks through your app, and gets to your server? You missed one tiny thing, and now the hacker is doing whatever they want on your server… How do you stop this from turning in

[2022-02-14 22:11] ndench commented on #73
The meetup has been [announced](https://www.meetup.com/BrisPHP/events/283986031/)!

[2022-02-14 22:11] ndench commented on #74
Thanks @valorin, this talk sounds awesome. It's been scheduled in the [next meetup](https://www.meetup.com/BrisPHP/events/283986031/) on March 2nd.

[2022-02-15 13:39] mickmackusa opened #75 "[REQUEST] Discussion of current RFC's"
Let's have Nathan pick ~5 interesting RFCs in Discussion phase (https://wiki.php.net/rfc), then (one at a time):
1. have Nathan briefly introduce the RFC
2. have an open "roundtable" discussion about its viability, importance, potential improvements, etc.
3. have our own online poll to capture the votes of in-person and online meetup attendees.  (Show all poll results at the end of the night.)

Th

[2022-02-15 20:17] valorin opened #76 "[OFFER] Think Like a Hacker"
Presenter name: Stephen Rees-Carter
Talk name: Think Like a Hacker
Talk length: 30minutes
Socials: https://twitter.com/valorin
Talk synopsis:
Laravel comes with many secure options enabled by default, and a bunch of helpful features that you can use to secure the rest. This helpfulness is a double-edged sword though, and you can easily begin to overlook the security implications of using specific

[2022-02-17 03:42] ndench commented on #75
Hey @mickmackusa, this a very interesting idea that I hadn't considered before. I might raise it at the next Meetup and see if we get any bites. Thanks for the suggestion!

[2022-02-17 03:45] ndench commented on #76
Thanks @valorin, I'd really love to see this at a future Meetup!

[2022-02-17 20:28] valorin commented on #76
Happy to do it whenever, it's a lot of fun. 😁

[2022-02-27 21:55] ndench commented on #73
Hey @dkaitou, we've unfortunately had to reschedule the BrisPHP meetup due to the floods. I'll let you know once we pick a new date (should be in the next few weeks). Hopefully you're still able to do your talk!

[2022-02-27 22:34] ndench commented on #74
Unfortunately we've had to postpone this talk due to the floods in Brisbane. We'll reschedule for sometime in the next few weeks :crossed_fingers:

[2022-04-07 07:12] ndench commented on #75
We ran this at the meetup last night and it went quite well. Here are the [slides](https://slides.com/ndench/brisphp-q1-2022-rfc-discussion).

We discussed:
- Sealed classes
- Readonly classes
- Multi line arrow functions

[2022-04-07 07:14] ndench commented on #73
Thanks for the talk last night @dkaitou! You had some really great approaches to testing legacy code. Here's a link to his [slides](https://docs.google.com/presentation/d/1odqNQDMDagBjz5dnyqF5ceguSIi5iBfECylptSUU8Nk/edit#slide=id.p) for future reference.

[2022-04-07 07:14] #73 closed

[2022-04-07 07:17] ndench opened #77 "[REQUEST] IDE's and other tools you use to be more productive"
At our Q1 2022 meetup, we had a couple of requests for talks about productivity and the tools you use to achieve it. It would be really cool to hear about different people's setup, which IDE/plugins/ci/other tools that you use in order to increase productivity or happiness.

[2022-04-07 07:19] ndench opened #78 "[REQUEST] PHP Fibres"
At our Q1 2022 meetup, we we had a request to hear about the recently released PHP Fibres. While end users don't really use them, it would be very interesting to hear about how to use some of the libraries/frameworks that make use of them, as well as their pros/cons and some tales from the trenches.

[2022-04-07 07:21] ndench opened #79 "[REQUEST] Generics in PHP"
At our Q1 2022 meetup, a talk on generics was requested. While generics are not supported in the PHP core, you can get most of the way there with static analysis tools and IDEs. I talk on how to utilise these tools would be well received. We could also dig into the discussions by the core team as to what makes implementing generics so difficult and the possible approaches to getting there.

[2022-04-07 07:23] ndench opened #80 "[REQUEST] Negotiating for better jobs/salaries"
At our Q1 2022 meetup, we had a request for a talk about how to negotiate a pay rise as a PHP developer. What is it that your boss is looking for in order to give you a raise? How can you effectively communicate this? How could one potentially negotiate a higher starting salary at a new job?

[2022-04-07 07:25] ndench opened #81 "[REQUEST] Concurrency, Asychronny, and Queues"
At our Q1 2022 meetup, we had a request for talk about utilising queues in PHP in order to get asynchronous and concurrent processes. A talk breaking down the options here and maybe some tales from the trenches would definitely be well received.

[2022-04-07 07:25] ndench commented on #57
And again, this was also requested at Q1 2022.

[2022-04-07 07:27] ndench opened #82 "[REQUEST] Domain Driven Development"
At our Q1 2022 meetup, we had a request to hear about DDD. It would certainly be a good talk to hear the approaches for effectively implementing domain driven design in a PHP application. As well as a discussion on the pros/cons of this approach.

[2022-04-07 07:29] ndench opened #83 "[REQUEST] Tales from the trenches: optimisations and performance improvements"
If you've ever had a website that is just running slow and you can figure out why, then you're probably in the same mindset that caused someone to request this talk during our Q1 2022 meetup.

if you're someone who has optimised a poorly performing website before, you have an opportunity to share your learnings with a very eager crowd.

[2022-04-07 23:56] dkaitou commented on #73
[Test on legacy code.pdf](https://github.com/BrisPHP/meetups/files/8447502/Test.on.legacy.code.pdf)

Please refer to the attached PDF for the PPT.

[2022-10-31 00:49] ndench opened #85 "[OFFER] Build a dev env for your team"
Presenter name: Greg Skerman
Talk name: Build a dev env for your team
Talk length: 15
Socials: GregSkerman
Talk synopsis:
iSeekplant have a bunch of local dev tools are that are pretty neat.

We’ve basically written our own CLI that started with wrapping some common docker operations and has ended up templating pipeline creation, handling local db dumps, orchestrating our datalake etc etc. basical